<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{/css/home.css}"/>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
    ></script>
    <!--Link Popper-->
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
    ></script>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <h1>Alke-Wallet</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" style="color:navy !important;">Salir</a>
                    </li>

                </ul>



            </div>
        </div>
    </nav>
</header>
<h1>Home</h1>
<div class="container">
<div class="card" style="width: 18rem;">
    <h3>Bienvenido</h3>

    <div th:if="${resultado}">
        <div th:text="${resultado}"></div>
    </div>


    <p th:text="${usuario.nombre}"></p>
    <div class="saldo">

        <p>Su saldo es: $</p>
        <p th:text="${usuario.saldo}"></p>

    </div>

    <form th:action="@{/movimiento}" th:object="${user}" method="post">
        <input type="hidden" name="usuarioId" th:value="${usuario.usuarioId}"/>
        <input type="submit" value="Depositar" class="btn btn-primary">
    </form>

    <form th:action="@{/movimiento/retirar}" th:object="${user}" method="post">
        <input type="hidden" name="usuarioId" th:value="${usuario.usuarioId}"/>
        <input type="submit" value="Retirar" class="btn btn-primary">
    </form>

    <form th:action="@{/movimiento/transferencia}" th:object="${user}" method="post">
        <input type="hidden" name="usuarioId" th:value="${usuario.usuarioId}"/>
        <input type="submit" value="Transferir" class="btn btn-primary">
    </form>

</div>
</div>

<footer class="mt-5 mr-0">
    <p>Alke Wallet ©. Proyecto Talento Digital
        <br>
        Alumno Joaquín Gallardo</p>
    <div class="mail"><a href="https://www.gmail.com/" target="\_blank"><img src="../static/IMG/gmail.jpg" th:src="@{/IMG/gmail.jpg}" class="rounded-circle" alt="img" width="50" height="50" ></a></div>
    <div class="whatsapp"><a href="https://web.whatsapp.com/" target="\_blank"><img src="../static/IMG/whatsapp.jpg" th:src="@{/IMG/whatsapp.jpg}" class="rounded-circle" alt="img" width="50" height="50" ></a></div>
    <div class="instagram"><a href="https://www.instagram.com/" target="_blank"><img src="../static/IMG/insta.jpg" th:src="@{/IMG/insta.jpg}" class="rounded-circle" alt="img" width="50" height="50" ></a></div>

</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>